.banner{
    height: auto;
    width: 100%;
    position: relative;
    color:rgba(0, 0, 0, 0.624);
}
.banner img{
    width: 100%; /* Make the image width responsive to its container */
    height: calc(80vh - 10%); /* Reduce the height relative to the viewport, adjusting for smaller screens */
    object-fit: cover;
}
.banner .button_div{
    width: 100%;
    position: absolute;
    bottom: 5%;
    margin: auto;
    display: flex;
}
.banner .button_div .buttons{
    margin: auto;
    display: flex;
    gap: 10px;
}
.banner .button_div .buttons button{
    width: 130px;
    border: 1px solid var(--banner-front-color);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.banner .button_div .buttons button:hover{
    background-color: var(--banner-front-color);
    color: aliceblue;
}
.banner .button_div .buttons .active{
    background-color: var(--banner-front-color);
    color: aliceblue;
}

@media (max-width: 650px) {
    .banner .button_div{
        bottom: 3%
    }
    .banner .button_div .buttons button{
        width:70px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 10px;
    }
}