
:root {
    --plyr-color-main: #c21ac2;
    --banner-front-color:rgb(253, 172, 57);
}

.py-2 .home__slider{
    height: auto;
    position: relative;
}
.py-2 .home__slider a img {
    width: 100%; /* Make the image width responsive to its container */
    height: calc(80vh - 10%); /* Reduce the height relative to the viewport, adjusting for smaller screens */
    object-fit: cover; /* Maintain the aspect ratio and cover the entire area */
}


.py-2 .home__slider .slider_text{
    position: absolute;
    color: aliceblue;
    width: calc(50vw - 10%); 
    height: auto;
    padding: 10px;
    top: 25%;
    left: 5%;
    font-family: "Hind Siliguri", sans-serif;
}
.py-2 .home__slider .slider_text h1{
    font-size: 3vw;
}
.py-2 .home__slider .slider_text h1 span{
    color: var(--banner-front-color);
}
.py-2 .home__slider .slider_text p{
    font-size: 20px;
    color: rgba(240, 248, 255, 0.554);
    font-weight: 600;
    font-size: 1.1vw;
}
.py-2 .home__slider .slider_text .slider_buttons{
    display: flex;
    gap: 10px;
}
.py-2 .home__slider .slider_text .slider_buttons button{
    width:150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--banner-front-color);
    background:transparent;
    color: aliceblue;
}
.py-2 .home__slider .slider_text .slider_buttons button:hover{
    background-color: var(--banner-front-color);
}

.py-2 .home__slider .slider_text .slider_buttons .active{
    background-color: var(--banner-front-color);
}
.py-2 .home__slider .slider_text .slider_buttons .active:hover{
    background-color: rgb(252, 208, 147);
    color: black;
}


@media (max-width: 1100px) {
    .py-2 .home__slider .slider_text .slider_buttons button{
        width:100px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
    }
}
@media (max-width: 650px) {
    .py-2 .home__slider .slider_text .slider_buttons button{
        width:70px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 10px;
    }
}
@media (max-width: 400px) {
    .py-2 .home__slider .slider_text .slider_buttons button{
        width:60px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 8px;
    }
    .py-2 .home__slider .slider_text{
        top: 20%;
    }
}